.Parent {
    background-image: url("https://img5.goodfon.com/original/2880x1800/6/63/severnoe-siianie-noch-priroda-zvezdnoe-nebo-derevia-les-zima.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    background-attachment: fixed;
}